@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
 width: 70vh;
 background-color: white;
 margin-left: 32vh;
 font-family: 'Rubik Wet Paint', cursive;
}
.div1{
    background-color: rgb(211, 211, 211);
    height: 130vh;
    width: 70vw;
}
.div11{
    background-color: white;
    height: 122vh;
    width: 60vw;
    margin-left:7vw ;
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.div111{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2vw;
    margin-right:2vw;
    text-align: center;
}
a:hover{
    color: green;
    background-color:palevioletred ;
    border: 2px solid black;
    border-radius: 90px;
}
 #backGroundImage{
    height: 122vh;
    width: 34vw;
}
#titleName{
    text-shadow: 3px 3px 0px red;
}
.div2{
    height: 182vh;
    width: 70vw;
    background-color: rgb(211, 211, 211);
    margin-top: 5vh;
}
.div21{
    background-color: rgb(68, 66, 66);
    height:86vh;
    width: 60vw;
    margin-top: 5vh;
    margin-right:7.5vw;
    margin-left: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#ourWork{
    margin-top: 1vh;
    color: white;
    margin-top: 2vh;
}
#firstImage{
height:80vh;
width:60vw ;
margin-top:3vh ;
}
.div22{
    background-color:rgb(237, 237, 237) ;
    height: 88vh;
    width: 60vw;
    margin-top:7vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}
#secondImage{
    height: 76vh;
    width: 60vw;
}
#firstImageName{
    margin-bottom:1vh;
    font-size: 1.9em;
}
.div3{
    height: 78vh;
    width: 70vw;
    margin-top: 5vh;
    background-color: rgb(211, 211, 211);
}
.div31{
    width: 60vw;
    height: 78vh;
    background-color: rgb(237, 237, 237);
    margin-left:21vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}
#secondImageName{
    margin-bottom: 1vh;
    font-size: 1.9em;
}
#thirdImage{
    height: 65vh;
    width: 60vw;
}
.div4{
    height: 99vh;
    width: 70vw;
    margin-top: 5vh;
    background-color:rgb(211, 211, 211) ;
}
.div41{
    width: 60vw;
    height:99vh;
    background-color: rgb(237, 237, 237);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}
#fourthImage{
    height: 85vh;
    width: 60vw;
}
#thirdImageName{
    margin-bottom:1vh;
    font-size: 1.9em;
}